<%- include ('./partials/header') %>

<div class='container' style='padding-top: 48px;'>
    <header class='jumbotron text-info' style='background-color: #22262a; padding-top: 48px;'>
        <h1 class='display-4 font-weight-bold'>Resume Bot</h1>
        <p class='lead text-light'>
            It's a Messenger Chat Bot in which the user will be asked to answer quite a lot of questions based
            on what they want to add in their Resume and then the Resume will be generated.
        </p>
        <hr class='my-4' style='border-bottom: 1px solid;'>
        <p>It's built in Node.js with Express as Framework.</p>
        <a
                class='btn btn-info btn-lg'
                href='https://github.com/Mayank0255/Resume-Bot'
                target='_blank'
                role='button'
                style='color: #22262a'
        >
            Learn more
        </a>
    </header>
    <div class='jumbotron text-info' style='background-color: #22262a; padding-top: 36px;'>
        <ul class='list-unstyled'>
            <li style='margin-bottom: 16px; font-size: 21px;'>It's usable on the Facebook Page -
                <a class='badge badge-info' href='https://www.facebook.com/Resume-Builder-Bot-622691505043730/'>
                    Resume Builder Bot
                </a>
            </li>
            <li style='margin-bottom: 16px; font-size: 21px;'>GitHub Link -
                <a class='badge badge-info' href='https://github.com/Mayank0255/Resume-Bot'>
                    Click Here
                </a>
            </li>
            <li style='margin-bottom: 16px; font-size: 21px;'>
                Watch the demo video
                <a class='badge badge-info' href='https://github.com/Mayank0255/Resume-Bot'>
                    Click Here
                </a>
            </li>
        </ul>
    </div>
</div>

<%- include ('./partials/footer') %>